.header-container{
  display:flex;
  align-items:center ;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: var(--primary-color);
  border-bottom: 1px solid lightgray;

}
/*grid column: chia màn hình thành 12 col  align-items: căn theo chục y*/
.header-search{
   display: flex;
   flex:4;
  
}

.header-search_logo .logo-facebook{
  color:white;
  font-size: 30px;
  cursor: pointer;
  margin-left: 20px;
}

.search-input{
  margin-left: 20px;
  position: relative;
}
.search-input .icon{
  position: absolute;
  top: 20%;
  left: 0;
  color:lightgrey;
}

.search-input .input{
  width: 80%;
  height: 25px;
  outline: none;
  border-radius: 10px;
  border: 1px solid lightgray;
  padding: 5px 5px 5px 25px;
}
/*.header-icon*/
.header-icon{
  flex:6;
}
   
.header-icon ul{
  display: flex;
  list-style-type: none;
}
     
.header-icon ul li{
 padding: 0 40px;
 color: white;
 cursor: pointer;
}

.header-alert{
  display: flex;
  flex: 2;
}

.header-alert_profile{
  display: flex;
 cursor: pointer;
 align-items: center;
}

.header-alert_profile .profile-name{
  margin-left: 15px;
  color: white;
  font-size: var(--size-xl);
}

.heart-alert_communicate{
  display: flex;
  align-items: center;
  margin-left: 40px;
  color: white;
}

.header-alert_communicate .icon_item{
 margin-right: 20px;
 position: relative;
}

.icon_item .number_alert{
  position: absolute;
  top:0;
  right: 0;
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
}




   
